*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}
header{
    
    width: 100%;
    min-width: 320px;
    height: 70px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.contenedorll{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: -10px;
    
}
.ll{
      
   width: 175px;
   height: 70px; 
    
}
nav {
  
    width:100%;
    max-height:0px;
    overflow:hidden;
    transition: 1s all; 
    margin-left: -100%;
    
    position: static;
    z-index: 1;
   
  }
 
  
  nav ul {
    
    list-style:none;
  }
  
  nav ul li a{
    
    
   text-decoration:none;
    display:block;
    line-height:50px;
    border-bottom:1px solid #222;
    background-color:#03EBA6;
    color:#222;
    font-size:1.2em;
    padding:10px;
  }


button{
    display: flex;
    flex-direction: column;
    width: 2rem;
    height: 2rem;
    border: 0;
    background: transparent;
    gap: .6rem;
    margin: 10px;

}
button > div {
    background: black;
    height: 2px;
    width: 2rem;
    border-radius: 5px;
    transition: all .5s;
    transform-origin: left;
}


.menu-icon:hover~nav{
        
    margin-left: 0;
    max-height: 300px;
     
}

.imagen{
    position: absolute;
    z-index: 1;
    width: 100%;
    min-width: 320px;
    max-width: 480px;
}
.menu-icon{
    width: 40px;
    height: 40px;
    margin: 10px;
}
.div-button{
    margin-top: -100px;
    position: absolute;
}
.nav-menu{
    background-color: aqua;
    margin-left: -100px;
    position: absolute;
    z-index: 2;

}
.bar-btn{
    font-size: 25px;
    position: absolute;
    margin-top: -55px;
    margin-left: 10px;
}
#check{
    display: none;
}
#check:checked ~ .nav-menu{
    margin-left: 0px;
   
}
